/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
p, label, input, button {
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: clamp(25px, 20px + 1.85vw, 45px);
  letter-spacing: calc(1px + 0.12vw);
}

h2 {
  font-size: clamp(20px, 20px + 1vw, 33px);
  letter-spacing: calc(1px + 0.04vw);
}

h3 {
  font-size: clamp(16px, 14px + 0.6vw, 22px);
  letter-spacing: calc(1px + 0.02vw);
}

h4,
p {
  font-size: clamp(14px, 12px + 0.4vw, 18px);
}

header {
  width: 100%;
  background-color: #c4c4c4;
  height: -moz-fit-content;
  height: fit-content;
}

.navigation {
  width: 100%;
  height: 80px;
  color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #c4c4c4;
}
.navigation .voletMenu {
  width: 100%;
  height: 100%;
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 4;
}
.navigation a {
  font-size: clamp(16px, 14px + 0.6vw, 22px);
  letter-spacing: calc(1px + 0.02vw);
  transition: all 0.33s;
}
.navigation a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.navigation a.lienActif {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.hamburger {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}
.hamburger span {
  width: 60px;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hamburger .spanBurger1 {
  top: 30%;
  transform: translateY(-50%);
  transition: all 0.33s;
}
.hamburger .spanBurger2 {
  transition: all 0.33s;
}
.hamburger .spanBurger3 {
  top: 70%;
  transform: translateY(-50%);
  transition: all 0.33s;
}
.hamburger .spanBurger1Open {
  width: 30px;
  top: 10px;
  transform: rotate(45deg) translate(75%, 50%);
}
.hamburger .spanBurger2Open {
  width: 40px;
  top: 38px;
  transform: rotate(90deg);
}
.hamburger .spanBurger3Open {
  width: 30px;
  top: 20px;
  transform: rotate(-45deg) translate(-25%, 50%);
}

@media screen and (max-width: 900px) {
  header .navigation .voletMenu {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #c4c4c4;
    flex-direction: column;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: all 0.5s;
    z-index: 4;
  }
  header .navigation .voletMenuOpen {
    background-color: #c4c4c4;
    height: -moz-fit-content;
    height: fit-content;
    transform: translateY(0%);
  }
  header .navigation a {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #333;
    padding: 30px;
    font-size: clamp(16px, 14px + 0.6vw, 22px);
    letter-spacing: calc(1px + 0.02vw);
  }
  header .navigation .hamburger {
    display: block;
    z-index: 6;
  }
}
footer {
  width: 100%;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulaire {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 400px;
  max-width: 650px;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.lienFormulaire {
  margin: 0 auto;
  margin-top: 20px;
  font-size: clamp(16px, 14px + 0.6vw, 22px);
  color: #333;
  text-underline-offset: 5px;
}

.afficherMDP {
  display: flex;
}
.afficherMDP .eye {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 14px + 0.6vw, 22px);
}

.entryForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.entryForm label {
  font-size: clamp(16px, 14px + 0.6vw, 22px);
  letter-spacing: calc(1px + 0.02vw);
  margin-top: 10px;
  margin-bottom: 10px;
}
.entryForm input {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-size: clamp(16px, 14px + 0.6vw, 22px);
  background-color: #fff;
}
.entryForm .dnone {
  display: none;
}
.entryForm input:focus {
  outline-color: #c4c4c4;
}
.entryForm button {
  width: 100%;
  font-size: clamp(16px, 14px + 0.6vw, 22px);
  padding: 10px;
  margin-top: 30px;
  border-radius: 8px;
  background-color: #fff;
  transition: all 0.33s;
}
.entryForm button:hover {
  color: #f1f1f1;
  background-color: #333;
}

@media screen and (max-width: 900px) {
  .formulaire {
    width: 94%;
    min-width: 300px;
    margin: 0 auto;
  }
  .formulaire .entryForm button {
    color: #f1f1f1;
    background-color: #333;
  }
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5843137255);
  z-index: 2;
}

.dnone {
  display: none;
}

.alert {
  width: 80%;
  height: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  color: #333;
  text-align: center;
  padding: 5px 0;
  visibility: 1;
  animation: disparitionAlerte 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes disparitionAlerte {
  100% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0 auto;
    visibility: hidden;
  }
}
.rouge {
  background-color: rgb(243, 48, 87);
}

.orange {
  background-color: rgb(255, 150, 14);
}

.vert {
  background-color: greenyellow;
}

.dnone {
  display: none;
}

.form_entry_form {
  width: 100%;
}

.creationContainer .test {
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.loginContainer a {
  color: #f1f1f1;
  text-decoration: underline;
  display: block;
  text-align: center;
}

.pageProfil h1,
.pageProfil h2 {
  text-align: center;
}
.pageProfil i {
  cursor: pointer;
}
.pageProfil p,
.pageProfil label {
  font-size: clamp(16px, 14px + 0.6vw, 22px);
  letter-spacing: calc(1px + 0.02vw);
}
.pageProfil .imgProfil {
  width: 100%;
  margin: 20px auto;
}
.pageProfil .imgProfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 40px;
}
.pageProfil .formPsw {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pageProfil .btn_disable {
  pointer-events: none;
  background-color: #c4c4c4;
  box-shadow: none;
  opacity: 0.5;
}
.pageProfil .btn_info {
  background-color: rgb(245, 75, 75);
  box-shadow: 0px 0px 0px red;
  font-size: 16px;
  pointer-events: none;
  margin: 10px 0;
}
.pageProfil .btn_info:after {
  display: none;
}
.pageProfil .btn_info:before {
  display: none;
}
.pageProfil #btn_suppression_compte {
  cursor: pointer;
}
.pageProfil .btn_suppression {
  background-color: rgb(245, 75, 75);
  box-shadow: 0px 0px 0px red;
}
.pageProfil .btn_suppression:after {
  display: none;
}
.pageProfil .btn_suppression:before {
  display: none;
}
.pageProfil .btn_suppression:hover {
  box-shadow: 0px 0px 0px red;
  color: black;
}
.pageProfil .card_profil {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  padding-bottom: 40px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.5333333333) 0%, rgba(255, 255, 255, 0.0196078431) 100%);
  box-shadow: 2px 2px 4px #f1f1f1;
}
.pageProfil .overlay_img_site {
  background-color: rgba(85, 85, 85, 0.3333333333);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.pageProfil .images_site {
  border: 3px solid black;
  background-color: rgba(51, 51, 51, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 90vw;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pageProfil .images_site .image_site {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.pageProfil .dnone {
  display: none;
  transition: all 1s;
}

.pageDroits table {
  width: 80%;
  text-align: center;
  color: #f1f1f1;
  margin: 10px auto;
  margin-top: 40px;
  font-family: "Roboto Condensed", sans-serif;
}
.pageDroits th,
.pageDroits td,
.pageDroits tr {
  padding: 15px;
  border: 1px solid #333;
  color: #333;
}
.pageDroits .pastilleRoleList {
  width: 90%;
  margin: 0 auto;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  display: none;
}
.pageDroits .pastilleRole {
  padding: 20px 30px;
  border: 1px solid #333;
  border-radius: 8px;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .pageDroits .roleGestion {
    display: none;
  }
  .pageDroits .pastilleRoleList {
    display: flex;
  }
  .pageDroits .roleAdmin {
    background-color: rgb(19, 219, 176);
  }
  .pageDroits .roleUser {
    background-color: rgb(233, 88, 233);
  }
}
body {
  background-color: #f1f1f1;
  color: #333;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  display: flex;
  flex-direction: column;
}

.bodycontent {
  flex-grow: 1;
}/*# sourceMappingURL=style.css.map */