.form_entry_form {
  width: 100%;
}
.creationContainer {
  .test {
    width: 100px;
    height: 100px;
    background-color: #fff;
  }
}

.loginContainer {
  a {
    color: #f1f1f1;
    text-decoration: underline;
    display: block;
    text-align: center;
  }
}
